<div class="mx-auto md:w-2/3 w-full">
    <%= render partial: 'article_read', object: @article %>
</div>
<hr>

<% if user_signed_in?%>
<br>
<div class="flex justify-center px-5 ">
<div class="block p-6 rounded-lg shadow-lg bg-sky-500 max-w-sm px-5 py-5">
<h5 class="text-gray-900 text-xl leading-tight font-medium mb-2">Creator Area</h5>
<%= link_to 'Edit post', edit_article_path(@article), class: "mt-2 rounded-lg py-3 px-5 bg-amber-200 inline-block font-medium" %>
<div class="inline-block ml-2">
<%= button_to 'Delete post', article_path(@article), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-red-300 font-medium" %>
</div>
</div>
</div>
<br>
<% end %>
