<footer class="text-center lg:text-left">
  <div class="text-white text-center p-4" style="background-color: #23262c;">
  <p>©2022: <a href="https://github.com/e-crede" target="_blank" ><u>Evaldas</u></a></p>
  </div>
</footer>